<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.study.mapper.CourseMapper">

    <resultMap id="BaseResultMap" type="org.study.entities.Course">
        <id property="courseId" column="course_id" jdbcType="INTEGER"/>
        <result property="courseName" column="course_name" jdbcType="CHAR"/>
        <result property="hours" column="hours" jdbcType="INTEGER"/>
        <result property="credit" column="credit" jdbcType="INTEGER"/>
        <result property="version" column="version" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        course_id
        ,course_name,hours,
        credit,version
    </sql>
</mapper>
